[submodule "libraries/benchmark"]
	path = libraries/benchmark
	url = https://github.com/google/benchmark
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest
[submodule "libraries/Catch2"]
	path = libraries/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "memplusplus-benchmarks"]
	path = memplusplus-benchmarks
	url = https://github.com/m4drat/memplusplus-benchmarks
